.elemento{
    display: flex;
    border: 1px solid black;
    padding: 20px;
    background-color: black;
    color: white;
}

.column{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.column-data{
    display: flex;
    flex-direction: column;
}

.row{
    display: flex;
    flex-direction: column;
    text-align: left;
}