/*

    elemento.css

    CSS de elemento.jsx

    - elemento
    - Modal-botones
    - column
    - column-data
    - update
    - delete
    - delete--button
    - delete:hover
    - update:hover
    - disabled

*/


.elemento{
    display: flex;
    border: 1px solid black;
    padding: 20px;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
}

.Modal-botones{
    display:flex;
    gap: 20px;
    justify-content: center;
}

.column{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.column-data{
    display: flex;
    flex-direction: column;
}

.update{
    background-color:rgba(156, 0, 218, 1) ;
}

.delete{
    margin-top: 10px;
    background-color: red;
}

.delete--button{
    background-color: red;
}


.delete:hover{
    border: 1px solid white;
}

.update:hover{
    border: 1px solid white;
}

.disabled{
    background-color: gray;
    color:black;
    cursor: default;
}

