/*
    index.css --> lo que podría ser albumes.css

    CSS de index.css --> lo que podría ser albumes.jsx

    - Albumes 
    - carritoBtn 
    - content 
    - buscador 
    - buscador::placeholder 
    
*/
.Albumes {

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding: 20px;
    margin-top: 50px;
}

.carritoBtn {
    position: fixed;
    right: 2%;
    bottom: 2%;
}

.content {
    overflow: scroll;
    position: relative;
    flex-grow: 1;
}

.buscador {
    position: absolute;
    width: 70%;
    top: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
}

.buscador::placeholder {
   text-align: center;

}