/**

    login.css

    CSS de login.jsx

    - Login
    - form
    - div-register
    - is_active
    - form-register
    - button
    - button:hover
    - u-marginBottom
    - registrate
    - registrate:hover
    - right

*/

.Login{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    position: fixed;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);  /* centrar elemento */
    width: 80%;

}

.form{
    display: flex;
    flex-direction: column;
    border: 1px solid white;
    padding: 20px;
    border-radius: 20px;
    background-color: black;
    text-align: left;
    width: 20%;

}

.div-register{
    position: fixed;
    top: -50%;
    left: 50%;
    transform: translate(-50%, -50%);  /* centrar elemento */
    width: 50%;
    border: 1px solid white;
    padding: 20px;
    border-radius: 20px;
    background-color: black;
    transition: top 1s;     /* Transición para mostrar el panel de registro */
}

.is_active{
    top: 50%;     /* reposicionamiento del pnael del registro al centro de la pantalla */
}

.form-register{
    display: flex;
    flex-direction: column;
    text-align: left;

}

.button{
    background-color: #9C00DA;
}
.button:hover{
    color: #9C00DA;
    background-color: black;
    border: 1px solid white;
}

.u-marginBottom{
    margin-bottom: 20px;
}

.registrate{
    background-color: transparent;
    color: white;
    font-weight: bold;
}
.registrate:hover{

    color: #9C00DA;

}

.right{
    position: fixed;
    right: 1%;
    top: 1%;
}

/* Media query para dispositivos móviles */

@media (max-width: 480px) {
    .form{
      
        width: 50%;
         
           
    }

    .div-register{
        width: 90%;
    }
    
}

/* Media query para tablets y portátiles */
@media (max-width: 1024px) {
    .form{
      
        width: 50%;
         
           
    }

    .div-register{
        width: 90%;
    }
    
}