.Login{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

}

.form{
    display: flex;
    flex-direction: column;
    border: 1px solid white;
    padding: 20px;
    border-radius: 20px;
    background-color: black;
    text-align: left;
    width: 20%;

}

.div-register{
    position: fixed;
    top: -50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    border: 1px solid white;
    padding: 20px;
    border-radius: 20px;
    background-color: black;
    transition: top 1s;
}

.is_active{
    top: 50%;
}

.form-register{
    display: flex;
    flex-direction: column;
  
    text-align: left;

}

.button{
    background-color: #9C00DA;
}
.button:hover{
    color: #9C00DA;
    background-color: black;
    border: 1px solid white;
}

.u-marginBottom{
    margin-bottom: 20px;
}

.registrate{
    background-color: transparent;
    color: white;

    font-weight: bold;
}
.registrate:hover{

    color: #9C00DA;

}

.right{
    position: fixed;
    right: 1%;
    top: 1%;
}

@media (max-width: 450px) {
    .form{
      
        width: 50%;
         
           
    }

    .div-register{
        width: 90%;
    }
    
}