

.form{
    display: flex;
    flex-direction: column;
    border: 1px solid white;
    padding: 20px;
    border-radius: 20px;
    background-color: black;
    text-align: left;
}

.button{
    background-color: #9C00DA;
}
.button:hover{
    color: #9C00DA;
    background-color: black;
    border: 1px solid white;
}

.u-marginBottom{
    margin-bottom: 20px;
}