.ListaTarjetasUsuario{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    position: fixed;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 400px;
    overflow: auto;
    width: 80%;
}
.TarjetaUsuario{
    border:  1px solid black;
    padding: 20px;
    width: 30%;
    text-align: left;
    background-color: black;
    border-radius: 20px;
    height: 80px;
    overflow: hidden;
    color: white;
}

.cliente{
    background-color: rgb(50, 49, 49);
    border: 1px solid rgba(156, 0, 218, 1);
}

.TarjetaUsuario-row{
    display: flex;
    justify-content: space-between;
}
@media (min-width: 360px) and (max-width: 1024px){
    .ListaTarjetasUsuario{
        height: 550px;
    }

    .TarjetaUsuario{
     
        width: 90%;

    }
    
}